/app/
/asc/asc
/asc/*.o
/asc/scmenv.h
/bootstrap.sh
/doc/arc.1
/doc/arc.texinfo
/doc/arc.txt
/doc/arc.info
/doc/*~
/doc/*.aux
/doc/*.cp
/doc/*.cps
/doc/*.fn
/doc/*.fns
/doc/*.ky
/doc/*.log
/doc/*.pg
/doc/*.toc
/doc/*.tp
/doc/*.vr
/doc/arc.pdf
/arc.config
/arc
/src/config.scm
/src/version.scm
/.arc
/test/.arc/
/test/_build/
/test/version.h
